<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% trans %}GNUKhata | Create Account{% endtrans %}</title>
<style media="screen">
.modal-dialog{
  position: relative;
  display: table; //This is important
  overflow-y: auto;
  overflow-x: auto;
  width: auto;
  min-width: 50%;
}

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
td {
	font-size: 60%;
}

th {
	font-size: 70%;
}

</style>
</head>

<body >
  <div id="custsupmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          {% if gkstatus=="in" %}
            <h5 class="modal-title">Create Supplier</h5>
            {%else%}
            <h5 class="modal-title">Create Customer</h5>
            {%endif%}
       </div>
        <div class="container">
          <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">
            <div class="alert alert-success" id="sup-success-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Supplier account created under Sub-Group Sundry Creditors for Purchase, Group Current Liabilities!{% endtrans %}
            </div>
            <div class="alert alert-success" id="cus-success-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Customer account created under Sub-Group Sundry Debtors, Group Current Assets!{% endtrans %}
            </div>
            <div class="alert alert-danger" id="sup-duplicate-alert"  aria-live="rude" role="alert" hidden>
   {% if gkstatus=="out" %}
        {% trans %}Customer Already Exist!{% endtrans %}
   {% else %}
        {% trans %}Supplier Already Exist!{% endtrans %}
   {% endif %}
  </div>

    <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Something went wrong!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="name-blank-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Please Enter name!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="state-blank-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Please Select state!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="address-blank-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Please Enter address!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="tin-blank-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Please Enter TIN!{% endtrans %}
    </div>
    <div class="panel shadow customersupplier_panel">
      <input type="hidden" id="debtgroupcode" value="{{debtgroupcode}}">
      <input type="hidden" id="credgroupcode" value="{{credgroupcode}}">

      <div class="panel-body ">
        <div class="col-md-6">

            <div class="form-group" style="padding-top:15px;">
              <label for="add_cussup_name">{% trans %}Name:{% endtrans %}</label>
              <input class="form-control input-sm" id="add_cussup_name" placeholder="{% trans %}Enter Name{% endtrans %}" accesskey="">
            </div>
            <div class="form-group">
              <label for="add_cussup_email">{% trans %}Email:{% endtrans %}</label>
              <input class="form-control input-sm"type="email" id="add_cussup_email"  accesskey="">
            </div>
            <div class="form-group">
              <label for="add_cussup_phone">{% trans %}Phone No:{% endtrans %}</label>
              <input class="form-control input-sm" type="text" id="add_cussup_phone"></input>
            </div>
            <div class="form-group">
              <label for="add_state">{% trans %}State:{% endtrans %}</label>
              <select class="form-control input-sm add-state" id="add_state" accesskey="">
                  <option value="">Select State</option>
                  <option value="Andaman and Nicobar Islands" stateid="1">Andaman and Nicobar Islands</option>
                  <option value="Andhra Pradesh" stateid="2">Andhra Pradesh</option>
                  <option value="Arunachal Pradesh" stateid="3">Arunachal Pradesh</option>
                  <option value="Assam" stateid="4">Assam</option>
                  <option value="Bihar" stateid="5">Bihar</option>
                  <option value="Chandigarh" stateid="6">Chandigarh</option>
                  <option value="Chhattisgarh" stateid="7">Chhattisgarh</option>
                  <option value="Dadra and Nagar Haveli" stateid="8">Dadra and Nagar Haveli</option>
                  <option value="Daman and Diu" stateid="9">Daman and Diu</option>
                  <option value="Delhi" stateid="10">Delhi</option>
                  <option value="Goa" stateid="11">Goa</option>
                  <option value="Gujarat" stateid="12">Gujarat</option>
                  <option value="Haryana" stateid="13">Haryana</option>
                  <option value="Himachal Pradesh" stateid="14">Himachal Pradesh</option>
                  <option value="Jammu and Kashmir" stateid="15">Jammu and Kashmir</option>
                  <option value="Jharkhand" stateid="16">Jharkhand</option>
                  <option value="Karnataka" stateid="17">Karnataka</option>
                  <option value="Kerala" stateid="19">Kerala</option>
                  <option value="Lakshadweep" stateid="20">Lakshadweep</option>
                  <option value="Madhya Pradesh" stateid="21">Madhya Pradesh</option>
                  <option value="Maharashtra" stateid="22">Maharashtra</option>
                  <option value="Manipur" stateid="23">Manipur</option>
                  <option value="Meghalaya" stateid="24">Meghalaya</option>
                  <option value="Mizoram" stateid="25">Mizoram</option>
                  <option value="Nagaland" stateid="26">Nagaland</option>
                  <option value="Odisha" stateid="29">Odisha</option>
                  <option value="Pondicherry" stateid="31">Pondicherry</option>
                  <option value="Punjab" stateid="32">Punjab</option>
                  <option value="Rajasthan" stateid="33">Rajasthan</option>
                  <option value="Sikkim" stateid="34">Sikkim</option>
                  <option value="Tamil Nadu" stateid="35">Tamil Nadu</option>
                  <option value="Telangana" stateid="36">Telangana</option>
                  <option value="Tripura" stateid="37">Tripura</option>
                  <option value="Uttar Pradesh" stateid="38">Uttar Pradesh</option>
                  <option value="Uttarakhand" stateid="39">Uttarakhand</option>
                  <option value="West Bengal" stateid="41">West Bengal</option>
                </select>
            </div>
          </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="add_cussup_address"> Address:</label>
                <textarea class="form-control" rows="3" cols="40" id="add_cussup_address" aria-describedby="textareahelp"></textarea>
                <small id="textareahelp" class="form-text text-muted">Press Enter Key twice to shift focus to Fax</small>
              </div>

            <div class="form-group">
              <label for="add_cussup_fax">{% trans %}Fax:{% endtrans %}</label>
              <input class="form-control input-sm" type="text" id="add_cussup_fax"></input>
            </div>
            <div class="form-group">
              <label for="add_cussup_pan">{% trans %}PAN:{% endtrans %}</label>
              <input class="form-control input-sm" type="text" id="add_cussup_pan"></input>
            </div>
            <div class="form-group">
              <label for="add_cussup_tan">{% trans %}TIN:{% endtrans %}</label>
              <input class="form-control input-sm" type="text" id="add_cussup_tan"></input>
            </div>
          </div>
        </div>

      <div class="panel-footer">
        <button class="btn btn-success btn-sm" id="cussup_save" data-toggle="tooltip" data-placement="top" title="{% trans %}Press Insert to save anywhere on the current screen to save{% endtrans %}">{% trans %}Save{% endtrans %}</button>

      </div>
   </div>


  </div>


        </div>
      </div>
    </div>
  </div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/createcustsuppopup.js')}}"></script>

</body>
</html>
