<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %}</title>

  <style type="text/css">
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #latable td {
    font-size: 75%;
    padding: 4 !important;
    margin: 4 !important;
  }

  #latable th {
    font-size: 85%;
  }

  .card-view .title {
      font-weight: bold;
      display: inline-block;
      min-width: 30%;
      text-align: left !important;
  }

  .smwrap{
  width:5%
  }

  .calign{
    text-align:center;
  }

  #latable tbody {
      display:block;
      height: calc(100vh - 17em);
      overflow-y:scroll;
  }
  #latable thead,#latable tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  #latable thead {
      width: calc( 100% - 0.65em );
  }


  </style>
</head>
<body>
  <span style="margin:auto; display:table; font-size:120%;"><strong>{% trans %}List of Categories{% endtrans %}</strong></span>
  <small style="margin-bottom: 10px;  display:table;" class="form-text text-muted">This is the columnar view of categories.</small>
  <button class="btn btn-sm btn-danger pull-right" type="button" style="margin-right: 15px;" id="laclearfields">{% trans %}Clear Search{% endtrans %}<span class="glyphicon glyphicon-remove" style="margin-left: 5px;"></span></button>
  <table id="latable" class="table shadow table-bordered" data-toggle="table" data-show-toggle="true"  data-search-align="left" data-buttons-align="left" data-search="true" >
    <thead class="bg-primary">
      <tr>
        <th class="col-xs-1 smwrap calign" >
          {% trans %}Sr.No.{% endtrans %}
        </th>
        <th class="col-xs-5" >
          {% trans %}Category{% endtrans %}
        </th>
        <th class="col-xs-5" >
          {% trans %}Sub-Category{% endtrans %}
        </th>
        <th class="col-xs-1" >
          {% trans %}Status{% endtrans %}
        </th>
      </tr>
    </thead>
    <tbody>

      {% for record in gkresult %}
      <tr	data-value="{{record["categorycode"]}}">
        <td class="col-xs-1 smwrap calign" >
          {{record["srno"]}}
        </td>
        <td class="col-xs-5">
          {{record["categoryname"]}}
        </td>
        <td class="col-xs-5" >
        {% for child in record["children"] %}
          {{child["categoryname"]}} <br>
        {% endfor %}
        </td>
        {% if record["categorystatus"] == "Active" %}
        <td class="col-xs-1 text-success">
          {{record["categorystatus"]}}
        </td>
        {% else %}
        <td class="col-xs-1 text-danger">
          {{record["categorystatus"]}}
        </td>
        {% endif %}
      </tr>
      {% endfor %}

    </tbody>
  </table>
  <span style="margin:auto; display:table;">
    <nbsp><nbsp>
    <button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x">{% trans %}E<u>x</u>port to Spreadsheet{% endtrans %}</button>
      <button type="button" class="btn btn-sm btn-info" id="viewprintableversion" accesskey="t">{% trans %}View Prin<u>t</u>able Version{% endtrans %}</button>
    <button class="btn btn-sm btn-primary" type="button"  id="tree" accesskey="e">{% trans %}Tree Vi<u>e</u>w{% endtrans %}</button>
  </span>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/listofcategories.js')}}"></script>
</body>
</html>
