<div id="m_serachcat" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="alert alert-danger" id="cat-blank-alert"  aria-live="rude" role="alert" hidden>
          <label >{% trans %}No Sub-Categories under the selected Category{% endtrans %}</label>

        </div>
	<div class="alert alert-danger" id="category-blank-alert"  aria-live="rude" role="alert" hidden>
          <label >{% trans %}Please select a Category{% endtrans %}</label>

        </div>
        <div class="panel shadow" >
          <div class="panel-heading">
            <div class="panel-title">{% trans %}Search{% endtrans %}</div>
          </div>
	  <div id="nocategorycreated" hidden><div class="col-xs-12" style="margin-top:10px;"><strong>No category has been created yet.</strong></div></div>
          <div id="searchcategorypanel" style="padding-top:5px" class="panel-body" >
            <table id="catsearchtab" class="table table-bordered table-condensed" data-toggle="table" data-show-toggle="true">
              <thead>
                <tr>
                  <th>
                    {% trans %}Category{% endtrans %}
                  </th>
                  <th>
                    {% trans %}Products{% endtrans %}
                  </th>
                  <th>
                    {% trans %}Show Sub-Category{% endtrans %}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class = "cols-md-6">
                    <select class = "form-control input-sm catsearch"  name = "categoryname" >
                      <option value="" disabled selected hidden>{% trans %}Select Category{% endtrans %}</option>
                      <option data-value="" >{% trans %}None{% endtrans %}</option>
                      {% for topcat in gkresult %}
                      <option data-value="{{topcat['categorycode']}}">{{topcat["categoryname"]}}({{topcat["subcount"]}})</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td class = "cols-md-3">
                    <select class = "form-control input-sm catprod"  name = "categoryproduct" >
                      <option value="" disabled selected hidden>{% trans %}None{% endtrans %}</option>

                    </select>
                  </td>
                  <td class = "cols-md-3">
                    <button id="sub-cat" class="btn-primary btn-sm showcat">{% trans %}Show Sub-Category{% endtrans %}</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
	<small id="helptext" class="form-text text-muted">Select a category to fill the Product dropdown list. Press 'Enter' key from category name to view sub-categories.</br>
	  Use 'Ctrl +<' or 'Ctrl + >' keys to navigate between category and product dropdowns and 'Shift + <' or 'Shift + >' to navigate within a column.
	</small>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/searchcategory.js')}}"></script>
