<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Tree View of Categories{% endtrans %}</title>

  <style type="text/css">
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .card-view .title {
      font-weight: bold;
      display: inline-block;
      min-width: 30%;
      text-align: left !important;
  }

  #treediv {
      display:block;
      max-height: calc(100vh - 16em);
      overflow-y:scroll;
  }
  .list-group {
    margin: 0;
    padding: 0;
    border: none;
  }
  .list-group-item {
    padding: 5px 0px 5px 5px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    border-width: medium;
  }
  </style>
</head>
<body>
  <span style="margin:auto; margin-bottom: 10px; display:table; font-size:120%;"><strong>{% trans %}List of Categories{% endtrans %}</strong></span><span id="messagespan" class="sr-only" aria-live="rude"></span>
  {% if numberofcategories < 1 %}
    <span style="margin:auto; margin-bottom: 10px; display:table;">{% trans %}No category has been created yet.{% endtrans %}</span>
    {% else %}
    <div class="container-fluid">
      <small style="margin-bottom: 10px;  display:table;" class="form-text text-muted">This is a Tree View of the Categories. Click on arrow to expand or collapse the view.</small>
      <div id="treediv" class="row">
      {% for record in gkresult %}
        <ul class="list-group">
          <li class="list-group-item list-group-item-primary">
            <a href="" class="topparent list-group-item list-group-item-primary" aria-expanded="false">
              <span class="glyphicon glyphicon-triangle-right"></span>
              <span class="glyphicon glyphicon-triangle-bottom" style="display:none;"></span>
              <span class="categoryname">{{record["categoryname"]}}</span>
              <span class="sr-only">has </span><span class="badge pull-right">{{record["subcount"]}}</span><span class="sr-only"> child categories</span>
            </a>
            <input type="text" class="categorycode" name="name" value={{record["categorycode"]}} hidden>
          </li>
        </ul>
        {% endfor %}
    </div>
  </div>

  <div class="row">
      <button class="btn btn-sm btn-primary" type="button" style="margin:auto; margin-top: 20px; margin-left:46%;" id="tvtoloc" accesskey="v">{% trans %}Columnar <u>V</u>iew{% endtrans %}</button>
  </div>
{% endif %}
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/treeviewofcategories.js')}}"></script>
</body>
</html>
